.App {
  text-align: center;
  position: absolute;
  overflow-x: hidden;
  overflow-anchor: none;
  height: 100vh;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-header > h1 {
  font-size: calc(20px + 2vmin);
}

.App-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 80vh;
  gap: 10vw;
}

.App-subhead {
  width: 100%;
  color: rgb(109, 109, 109);
  font-size: 15px;
}

.App-preview {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 50px;
}

.Preview-main {
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
  position: absolute;
  height: 1122px;
}

.input-div {
  text-align: right;
  width: 350px;
}

.Preview-name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-right: 0;
  margin-left: 300px;
  height: 200px;
  width: 500px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
}

.Preview-header {
  vertical-align: middle;
  display: flex;
  width: auto;
  height: auto;
}

#Preview-first-last {
  width: auto;
  height: 60px;
  font-size: 50px;
}

#Preview-job-title {
  width: 100%;
  font-size: 25px;
}

.Preview-contact-skills-pane {
  position: absolute;
  height: 1122px;
  width: 250px;
  background-color: #271f44;
  justify-content: center;
}

.Preview-picture {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 25px;
  margin-bottom: 55px;
}

.Preview-panel-list {
  display: flex;
  color: white;
  width: 80%;
  min-height: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 30px;
}

li span {
  position: relative;
  left: -3px;
}

.Preview-panel-div {
  color: white;
  margin-bottom: 25px;
}

.Preview-contact-div {
  display: flex;
  align-items: center;
  text-align: left;
  word-break: break-word;
  color: white;
  margin-left: 20px;
  gap: 10px;
  width: 80%;
  height: 70px;
}

.Preview-contact-div > * > h3 {
  line-height: 25px;
  font-size: 16px;
  font-weight: 900;
}

.Preview-panel-headline {
  width: 250px;
  height: 30px;
  border-bottom: 4px solid white;
  margin-bottom: 20px;
  line-height: 20px;
}

.Preview-icon {
  height: 35px;
  width: 35px;
}

.Preview-experience-main {
  margin-top: 64.5px;
  margin-left: 250px;
}

.Preview-experience-header {
  text-align: left;
  padding-left: 8%;
  border-bottom: 4px solid black;
  height: 21px;
  line-height: 0px;
}
/* 
accent colors */
.Preview-contact-div > * > h3,
.App-link {
  color: rgb(111, 111, 255);
}

.Preview-name-title {
  background-color: rgb(111, 111, 255);
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 900;
}

li {
  list-style-type: circle;
  list-style: url('./Components/Preview/Icons/rocket.png');
  padding-right: 15px;
}

ul {
  margin-left: 10px;
}

.Preview-education-entry,
.Preview-experience-entry {
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: center;
  height: 50px;
  gap: 40px;
  margin-left: 45px;
  margin-top: 30px;
}

.Preview-education-year,
.Preview-experience-year {
  border-right: 3px solid black;
  width: 110px;
  height: 100%;
  align-items: center;
  display: flex;
}

.Preview-education-school,
.Preview-experience-job {
  display: flex;
  flex-direction: column;
}

.Preview-education-main {
  margin-top: 64.5px;
  margin-left: 250px;
}

.Preview-education-header {
  text-align: left;
  padding-left: 8%;
  border-bottom: 4px solid black;
  height: 21px;
  line-height: 0px;
}

.open-modal-button {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.Preview-contact-div-headline {
  pointer-events: none;
}
