.App {
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  gap: 10px;
}

.App-footer {
  color: white;
  background-color: #5e5e5e;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-info {
  width: auto;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
  position: relative;
  height: auto;
  padding-right: 10px;
}

.App-preview {
  width: 40vw;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
}

.input-div {
  text-align: right;
}

label {
  clear: both;
  float: center;
  margin-right: 15px;
}
