.App {
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  gap: 10vw;
}

.App-footer {
  color: white;
  background-color: #5e5e5e;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.App-info {
  width: auto;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
  position: relative;
  height: auto;
  padding-right: 10px;
}

.App-preview {
  position: sticky;
  width: 793px;
  height: 1122px;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
  margin-bottom: 80px;
}

.input-div {
  text-align: right;
}

label {
  clear: both;
  float: center;
  padding-right: 15px;
}

.Preview-name-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: 0;
  margin-left: 300px;
  height: 200px;
  width: 500px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
}

.Preview-header {
  vertical-align: middle;
  display: flex;
  width: auto;
  height: auto;
}

#Preview-first-last {
  width: auto;
  height: 60px;
  font-size: 50px;
}

#Preview-job-title {
  width: 100%;
  font-size: 25px;
}

.Preview-contact-skills-pane {
  position: absolute;
  height: 1122px;
  width: 250px;
  background-color: #6a6a6a;
  justify-content: center;
}

.Preview-picture {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 25px;
  margin-bottom: 55px;
}

.Preview-panel-list {
  display: flex;
  color: white;
  width: 80%;
  min-height: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 30px;
}

li span {
  position: relative;
  left: -3px;
}

.Preview-panel-div {
  color: white;
  margin-bottom: 50px;
}

.Preview-contact-div {
  display: flex;
  align-items: center;
  text-align: left;
  word-break: break-word;
  color: white;
  margin-left: 20px;
  gap: 10px;
  width: 80%;
  height: 70px;
}

.Preview-contact-div > * > h3 {
  line-height: 25px;
  font-size: 16px;
  font-weight: 900;
}

.Preview-panel-headline {
  width: 250px;
  height: 30px;
  border-bottom: 4px solid white;
  margin-bottom: 20px;
  line-height: 20px;
}

.Preview-icon {
  height: 35px;
  width: 35px;
}

.Preview-experience-main {
  margin-top: 64.5px;
  margin-left: 250px;
  height: 800px;
}

.Preview-experience-header {
  text-align: left;
  padding-left: 8%;
  border-bottom: 4px solid black;
  height: 21px;
  line-height: 0px;
}
/* 
accent colors */

.Preview-contact-div > * > h3,
.App-link {
  color: rgb(65, 65, 255);
}
.Preview-name-title {
  background-color: rgb(65, 65, 255);
}

h2 {
  font-size: 30px;
}

li {
  list-style-type: circle;
  list-style: url('./Components/Preview/Icons/rocket.png');
  padding-right: 15px;
}

ul {
  margin-left: 10px;
}
